/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("../style/laf.css");
@import url("../style/lightbox.css");


:root {
    --url-bkgd-img: url("../img/bkgrd.png");
    --color-main-border: #ddd;
    --color-main-bkgd: #fefefe;
    --color-main-border-shadow: #e0e0e0;
    --color-fieldset-border: #d7d7db;
    --color-dlg-fieldset-border: #d7d7db;
    --color-tab-cntr-border: #b1b1b3;
    --color-tab-bkgd-hover: #ededf0;
    --color-tab-border-inactive-hover: #b1b1b3;
    --color-tab-bkgd-active: #d7d7db;
    --color-tab-border-inactive: #b1b1b3;
    --color-tab-text-active: #0a84ff;
    --color-tab-border-active: #0a84ff;
    --color-radio-panel-bkgd: #f9f9fa;
    --color-toolbar-btn-icon-palette-bkgd: transparent;
    --color-about-btn-bkgd: #f9f9fa;
    --color-about-btn-bkgd-hover: #ededf0;
    --color-about-btn-bkgd-active: #d7d7db;
    --color-about-btn-border: #ededf0;
    --color-about-btn-border-hover: #ededf0;
    --color-about-btn: black;
    --color-private-mode-warn-text: #c805c8;
}

@media (prefers-color-scheme: dark) {
    :root {
	--url-bkgd-img: none;
	--color-bkgd: #1a1a1e;
	--color-main-border: #0c0c0d;
	--color-main-bkgd: #2a2a2e;
	--color-main-border-shadow: #0c0c0d;
	--color-fieldset-border: #4a4a4f;
	--color-dlg-fieldset-border: #d7d7db;
	--color-tab-cntr-border: #737373;
	--color-tab-bkgd-hover: #4a4a4f;
	--color-tab-border-inactive-hover: #b1b1b3;
	--color-tab-bkgd-active: #737373;
	--color-tab-border-inactive: #d7d7db;
	--color-tab-text-active: #45a1ff;
	--color-tab-border-active: #0a84ff;
	--color-radio-panel-bkgd: #38383d;
	--color-toolbar-btn-icon-palette-bkgd: #d7d7db;
	--color-about-btn-bkgd: #2a2a2e;
	--color-about-btn-bkgd-hover: #38383d;
	--color-about-btn-bkgd-active: #4a4a4f;
	--color-about-btn-border: #4a4a4f;
	--color-about-btn-border-hover: #b1b1b3;
	--color-about-btn: #f9f9fa;
	--color-private-mode-warn-text: #ef6fef;
    }
}


body {
    background-color: var(--color-bkgd);
    background-image: var(--url-bkgd-img);
    color: var(--color-default-text);
}

main {
    width: 640px;
    margin: 24px auto 24px auto;
    padding: 16px;
    border: 1px solid var(--color-main-border);
    border-radius: 2px;
    box-shadow: 0 0 8px 2px var(--color-main-border-shadow);
    background-color: var(--color-main-bkgd);
}

#addon-icon {
    vertical-align: -14px;
    margin-right: 8px;
}

h2 {
    display: inline-block;
    margin-top: 0;
    margin-right: 6px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.2px;
}

label {
    margin-right: 4px;
    font-size: 13px;
}

input[type="checkbox"] + label {
    vertical-align: middle;
}

input[type="text"] {
    height: 26px;
}

input[type="text"],
select {
    font-size: 13px;
}

fieldset {
    padding-top: 4px;
    padding-bottom: 12px;
    border-top: 1px solid var(--color-fieldset-border);
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

legend {
    margin-left: -12px;
    padding-right: 4px;
    font-size: 15px;
}

fieldset button {
    font-size: 13px;
    height: 26px;
    padding-left: 18px;
    padding-right: 18px;
}

fieldset button[locale="de"] {
    padding-left: 4px;
    padding-right: 4px;
}

fieldset select.browser-style {
    font-size: 13px;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row .sxs-left {
    order: 1;
    flex: 0 1 auto;
}

.flex-row .sxs-right {
    order: 2;
    flex: 0 1 auto;
    margin-left: 12px;
}

.description {
    font-size: 11px;
}

.indent {
    margin-left: 28px;
}

.tab-container {
    margin-top: 4px;
    margin-bottom: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border-top: 1px solid var(--color-tab-cntr-border);
    border-bottom: 1px solid var(--color-tab-cntr-border);
}

.tab-container > .tab {
    display: inline-block;
}

.tab > button {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    font-size: 15px;
    border: unset;
    border-top: 2px solid transparent;
    border-radius: 0;
}

.tab > button.active-tab {
    border-top: 2px solid var(--color-tab-border-active);
    color: var(--color-tab-text-active);
}

.tab > button:hover {
    border-top: 2px solid var(--color-tab-border-inactive-hover);
    background-color: var(--color-tab-bkgd-hover);
}

.tab > button.active-tab:hover {
    border-top: 2px solid var(--color-tab-border-active);
}

.tab > button:active {
    border: none !important;
    border-top: 2px solid var(--color-tab-border-inactive) !important;
    background-color: var(--color-tab-bkgd-active);
}

.tab > button.active-tab:active {
    border-top: 2px solid var(--color-tab-border-active) !important;
}

.tab-panel {
    display: none;
}

.active-tab-panel {
    display: block;
}

.action-radio-panel {
    margin: 8px 0 4px 0;
    padding: 16px 8px;
    border: 1px solid var(--color-fieldset-border);
    border-radius: 4px;
    background-color: var(--color-radio-panel-bkgd);
}

.active-radio-panel {
    border: 1px solid #45A1FF;
    background-color: rgba(69, 161, 255, 0.2);
}

.action-radio-panel input[type="radio"] + label {
    font-size: 15px;
    font-weight: 600;
    vertical-align: middle;
}

.action-radio-panel input[type="radio"]:checked + label {
    font-weight: 700;
}

.panic-action-desc {
    margin-left: 28px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 13px;
}

.panic-action-options {
    display: none;
}

#panic-action-hide-and-replace-warning {
    margin-bottom: 8px;
    margin-left: 28px;
}

#private-browsing-warning {
    font-size: 11px;
    color: var(--color-private-mode-warn-text);
}

#private-browsing-warning-icon {
    display: inline-block;
    vertical-align: text-top;
}

#webpg-url, #minz-all-camouflage-webpg-url {
    margin-right: 8px;
}

#webpg-url {
    width: 300px;
}

#webpg-url[locale="de"] {
    width: 256px;
}

#hide-and-replace-pswd {
    margin-top: 12px;
    margin-bottom: 0;
}

#hide-and-replace-pswd button {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
}

#minz-all-camouflage-webpg {
    margin-top: 4px;
}

#minz-all-camouflage-webpg-url {
    width: 270px;
}

#minz-all-restore-from-camo-instr {
    margin-top: 6px;
}

#minz-curr-action-opt {
    width: 360px;
    margin-top: 4px;
}

#restore-minzed-wnd-note {
    display: none;
}

#panicbutton-key, #panicbutton-key-modifiers {
    display: none;
}

#panicbutton-key:-moz-focusring,
#panicbutton-key-modifiers:-moz-focusring {
    border-color: var(--color-main-bkgd) !important;
}
    
#extern-keyb-shct {
    display: none;
    vertical-align: middle;
}

#prefs-customize {
    border-top: none;
    padding-bottom: 20px;
}

#prefpane-customize button,
#prefpane-customize select {
    font-size: 15px;
    height: 28px;
}

#prefpane-customize label {
    font-size: 15px;
}

#prefpane-customize input[type="text"] {
    font-size: 15px;
    height: 28px;
}

#toolbar-button-caption {
    width: 192px;
}

#toolbar-button-icon {
    width: 354px;
    padding: 4px;
    margin-bottom: 12px;
    border: 1px solid #b1b1b1;
    background-color: var(--color-toolbar-btn-icon-palette-bkgd);
}

#toolbar-button-icon input[type="radio"] {
    display: none;
}

#toolbar-button-icon label > img,
#toolbar-button-icon label > canvas {
    padding: 4px;
    width: 36px;
    height: 36px;
}

#toolbar-button-icon input[type="radio"]:checked + label img,
#toolbar-button-icon input[type="radio"]:checked + label canvas {
    background-color: highlight;
}

#icon-options {
    align-self: stretch;
    margin-top: 3px;
    max-width: 236px;
}

#custom-icon-upload-cntr {
    height: calc(100% - 30px);
    padding-top: 4px;
}

#custom-icon, #custom-icon-label {
    visibility: hidden;
}

#custom-icon-label img {
    max-width: 36px;
    max-height: 36px;
}

input[type="file"] {
    opacity: 0;
    width: 32px;
}

#custom-icon-upload-btn {
    padding: 3px 20px 3px 20px;
    border: 1px solid var(--color-btn-border);
    border-radius: 2px;
    box-shadow: 0 0 0 0 transparent;
    background-color: var(--color-btn-bkgd);

    transition-duration: 250ms;
    transition-property: box-shadow, border;
}

#custom-icon-upload-btn[locale="de"] {
    padding-left: 4px;
    padding-right: 4px;
}

#custom-icon-upload-btn:hover {
    background-color: var(--color-btn-hover-bkgd);
    border: 1px solid var(--color-btn-hover-border);
}

#custom-icon-upload-btn:active {
    background-color: var(--color-btn-active-bkgd);
    border: 1px solid rgba(12, 12, 13, 0.3);
}

#rev-contrast-icon-cntr {
    margin-left: 24px;
    margin-right: -12px;
}

#rev-contrast-icon {
    margin-left: -22px;
}

#rev-contrast-icon + label {
    font-size: 13px;
}

#shct-note {
    font-size: 13px;
}

#reset-shortcut {
    margin-top: 12px;
}

#about-btn {
    float: right;
    height: unset;
    border: 1px solid var(--color-about-btn-border);
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 400;
    background-color: var(--color-about-btn-bkgd);
    color: var(--color-about-btn);
}

#about-btn:hover {
    border-color: var(--color-btn-hover-border);
    background-color: var(--color-about-btn-bkgd-hover);
}

#about-btn:active {   
    border: 1px solid #b1b1b3;
    background-color: var(--color-about-btn-bkgd-active);
}

.lightbox {
    top: 64px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 4px;
    font-size: 15px;
}

.lightbox .title {
    margin-top: 8px;
    font-size: 17px;
    font-weight: 600;
}

.lightbox label {
    font-size: 15px;
}

.lightbox .body {
    padding-top: 2px;
    padding-bottom: 8px;
    font-size: 13px;
}

.lightbox input[type="password"] {
    width: 100%;
    height: 28px;
    margin-bottom: 10px;
    font-size: 15px;
}

.lightbox .error {
    font-size: 13px;
}

.lightbox > .dlg-btns {
    bottom: 24px;
    right: 14px;
}

.lightbox > .dlg-btns > button {
    min-width: 96px;
    height: 32px;
    margin-bottom: 0;
    padding: 0 24px 0;
    border-radius: 2px;
    font: caption;
    font-size: 15px !important;
}

#set-password-dlg {
    --width: 406px;
    --height: 336px;
}

#set-password-dlg[locale="de"] {
    --height: 354px;
}

#change-password-dlg {
    --width: 406px;
    --height: 346px;
}

#set-password-dlg label,
#change-password-dlg label {
    display: block;
    margin-bottom: 4px;
}

#set-password-dlg .row,
#change-password-dlg .row {
    white-space: nowrap;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
}

#remove-password-dlg {
    --width: 400px;
    --height: 216px;
}

#remove-password-dlg .msgbox-icon {
    width: 52px;
    height: 52px;
    float: left;
    margin-left: -6px;
    margin-top: 8px;
    background-image: url("chrome://global/skin/icons/question-64.png");
    background-size: contain;
}

#remove-password-dlg .dlg-content {
    margin-left: 64px;
}

#remove-password-dlg label {
    display: block;
    margin-bottom: 8px;
}

#remove-password-dlg #pswd-for-removal {
    width: 278px;
}

#about-dlg {
    top: 72px;
    --width: 410px;
    --height: 280px;
}

#about-dlg #ext-icon {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-right: 12px;
    background-image: url("../img/icon.svg");
    background-size: contain;
}

#about-dlg > .dlg-content label,
#about-dlg > .dlg-content a {
    font-size: 12px;
}

#about-dlg .about-content-row {
    display: block;
}

#about-dlg hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--color-dlg-fieldset-border);
    border-bottom: 1px solid var(--color-dlg-fieldset-border);
    color: #b1b1b3;
}

#about-dlg #ext-info {
    padding-top: 12px;
}

#about-dlg #ext-name {
    font-size: 17px;
    font-weight: 600;
}

#about-dlg #ext-ver {
    font-size: 11px;
    line-height: 1.5;
}

#about-dlg #ext-desc {
    clear: left;
    padding-top: 12px;
    font-size: 13px;
}

#about-dlg #credits label {
    line-height: 18px;
}

#about-dlg #usr-contrib-cta {
    margin-top: 8px;
}

#about-dlg #usr-contrib-cta-hdg {
    font-weight: 600;
}
