/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("../style/laf.css");
@import url("../style/lightbox.css");
@import url("../style/toolbarIconPicker.css");


:root {
    --url-bkgd-img: url("../img/bkgrd.png");
    --color-main-border: #ddd;
    --color-main-bkgd: #fefefe;
    --color-main-border-shadow: #e0e0e0;
    --color-fieldset-border: #d7d7db;
    --color-dlg-fieldset-border: #d7d7db;
    --color-tab-cntr-border: #cfcfd8;
    --color-tab-bkgd-hover: #e0e0e6;
    --color-tab-bkgd-active: #cfcfd8;
    --color-tab-bkgd-selected: #f0f0f4;
    --color-tab-text-active: #0a84ff;
    --color-radio-panel-bkgd: #f9f9fa;
    --color-webapp-warn-bkgd: #B5D9FF;
    --color-webapp-warn-actv-bkgd: #f0f0f4;
    --color-about-btn-bkgd: #f9f9fa;
    --color-about-btn-bkgd-hover: #ededf0;
    --color-about-btn-bkgd-active: #d7d7db;
    --color-about-btn-border: #ededf0;
    --color-about-btn-border-hover: #ededf0;
    --color-about-btn: black;

    --url-icon-preftab-general: url("../img/pref-general.svg");
    --url-icon-preftab-general-checked: url("../img/pref-general-checked.svg");
    --url-icon-preftab-customize: url("../img/pref-customize.svg");
    --url-icon-preftab-customize-checked: url("../img/pref-customize-checked.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
	--url-bkgd-img: none;
	--color-bkgd: #1a1a1e;
	--color-main-border: #0c0c0d;
	--color-main-bkgd: #2a2a2e;
	--color-main-border-shadow: #0c0c0d;
	--color-fieldset-border: #4a4a4f;
	--color-dlg-fieldset-border: #d7d7db;
	--color-tab-cntr-border: #5b5b66;
	--color-tab-bkgd-hover: #52525e;
	--color-tab-bkgd-active: #5b5b66;
	--color-tab-bkgd-selected: #4a4a55;
	--color-tab-text-active: #45a1ff;
	--color-radio-panel-bkgd: #38383d;
	--color-webapp-warn-bkgd: #00458C;
	--color-webapp-warn-actv-bkgd: #4a4a4f;
	--color-about-btn-bkgd: #2a2a2e;
	--color-about-btn-bkgd-hover: #38383d;
	--color-about-btn-bkgd-active: #4a4a4f;
	--color-about-btn-border: #4a4a4f;
	--color-about-btn-border-hover: #b1b1b3;
	--color-about-btn: #f9f9fa;

	--url-icon-preftab-general: url("../img/pref-general-dk.svg");
	--url-icon-preftab-general-checked: url("../img/pref-general-checked-dk.svg");
	--url-icon-preftab-customize: url("../img/pref-customize-dk.svg");
	--url-icon-preftab-customize-checked: url("../img/pref-customize-checked-dk.svg");
    }
}


body {
    background-color: var(--color-bkgd);
    background-image: var(--url-bkgd-img);
    color: var(--color-default-text);
}

header, main {
    width: 640px;
    border: 1px solid var(--color-main-border);
    border-radius: 4px;
    box-shadow: 0 0 8px 2px var(--color-main-border-shadow);
    background-color: var(--color-main-bkgd);
}

header {
    margin: 24px auto 12px auto;
    padding: 16px;
}

main {
    margin: 0 auto 24px auto;
    padding: 0 16px 16px 16px;
}

body[data-os="mac"] main,
body[data-os="mac"] header {
    width: 644px;
}

header {
    margin-bottom: 12px;
}

#addon-icon {
    vertical-align: -14px;
    margin-right: 8px;
}

h2 {
    display: inline-block;
    margin-top: 0;
    margin-right: 6px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.2px;
}

label {
    margin-right: 4px;
    font-size: 13px;
}

input[type="text"] {
    height: 26px;
}

input[type="text"],
select {
    font-size: 13px;
}

fieldset {
    padding-top: 4px;
    padding-bottom: 12px;
    border-top: 1px solid var(--color-fieldset-border);
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

legend {
    margin-left: -12px;
    padding-right: 4px;
    font-size: 15px;
}

fieldset button {
    font-size: 13px;
    height: 26px;
    padding-left: 18px;
    padding-right: 18px;
}

fieldset button[data-locale="de"] {
    padding-left: 4px;
    padding-right: 4px;
}

fieldset select.browser-style {
    font-size: 13px;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row .sxs-left {
    order: 1;
    flex: 0 1 auto;
}

.flex-row .sxs-right {
    order: 2;
    flex: 0 1 auto;
    margin-left: 12px;
}

.description {
    font-size: 11.5px;
}

.description.disabled {
    opacity: 0.4;
}

.indent {
    margin-left: 28px;
}

.tab-container {
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border-bottom: 1px solid var(--color-tab-cntr-border);
    text-align: center;
}

.tab-container > .tab {
    display: inline-block;
}

.tab > button {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;

    border: unset;
    border-radius: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center 8px;

    font-size: 13px;
}

.tab > button:-moz-focusring {
    margin-top: -2px;
    margin-bottom: -2px;
    padding-left: 14px;
    padding-right: 14px;
    
    outline: none;
    border: 2px solid #45a1ff !important;
    box-shadow: none;
}

.tab > button:-moz-focusring:active {
    margin-top: -2px;
    margin-bottom: -2px;
    padding-left: 14px;
    padding-right: 14px;
    
    outline: none;
    border: 2px solid #45a1ff !important;
    box-shadow: none;
    
    background-color: var(--color-tab-bkgd-active);
}

.tab > button.active-tab {
    color: var(--color-tab-text-active);
    background-color: var(--color-tab-bkgd-selected);
}

.tab > button:hover {
    background-color: var(--color-tab-bkgd-hover);
}

.tab > button.active-tab:hover {
    background-color: var(--color-tab-bkgd-hover);
}

.tab > button:active {
    padding-top: 40px;
    border: none !important;
    background-color: var(--color-tab-bkgd-active);
    background-position: center 8px;
}

.tab > button.active-tab:active {
    background-color: var(--color-tab-bkgd-active);
}

#preftab-options-btn {
    background-image: var(--url-icon-preftab-general);
}

#preftab-options-btn.active-tab {
    background-image: var(--url-icon-preftab-general-checked);
}

#preftab-customize-btn {
    background-image: var(--url-icon-preftab-customize);
}

#preftab-customize-btn.active-tab {
    background-image: var(--url-icon-preftab-customize-checked);
}

.tab-panel {
    display: none;
}

.active-tab-panel {
    display: block;
}

.action-radio-panel {
    margin: 8px 0 4px 0;
    padding: 16px 8px;
    border: 1px solid var(--color-fieldset-border);
    border-radius: 4px;
    background-color: var(--color-radio-panel-bkgd);
}

.active-radio-panel {
    border: 1px solid #45A1FF;
    background-color: rgba(69, 161, 255, 0.2);
}

.action-radio-panel input[type="radio"] + label {
    font-size: 15px;
    font-weight: 600;
    vertical-align: middle;
}

.action-radio-panel input[type="radio"]:checked + label {
    font-weight: 700;
}

.panic-action-desc {
    margin-left: 28px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 13px;
}

.panic-action-options {
    display: none;
}

#webapp-warn {
    display: none;
}

body[data-os="win"] #webapp-warn {
    display: block;
    margin-left: 28px;
    margin-bottom: 10px;
    padding: 6px 8px 6px 32px;
    border-radius: 4px;
    font-size: 12px;
    background-color: var(--color-webapp-warn-actv-bkgd);
    background-image: url("../img/msgbar-warn.svg");
    background-size: 16px;
    background-position-x: 8px;
    background-position-y: 8px;
    background-repeat: no-repeat;
}

body[data-os="win"] .active-radio-panel #webapp-warn {
    background-color: var(--color-webapp-warn-bkgd);
}

#webpg-url, #minz-all-camouflage-webpg-url {
    margin-right: 8px;
}

#webpg-url {
    width: 300px;
}

#webpg-url[data-locale="de"] {
    width: 246px;
    margin-right: 4px;
}

#webpg-url[data-locale|="pt"] {
    width: 290px;
}

#webpg-url[data-locale="pl"] {
    width: 272px;
}

#reset-url[data-locale="de"],
#minz-all-camouflage-reset-url[data-locale="de"] {
    letter-spacing: -0.5px;
}

#reset-url[data-locale|="pt"],
#minz-all-camouflage-reset-url[data-locale|="pt"] {
    padding-left: 8px;
    padding-right: 8px;
}

#hide-and-replace-pswd {
    margin-top: 12px;
    margin-bottom: 0;
}

#hide-and-replace-pswd button {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
}

#restore-sess-options {
    margin-top: 12px;
    margin-bottom: 0;
}

#restore-sess-options > .row {
    margin-bottom: 2px;
}

#minz-all-camouflage-label[data-locale|="pt"] {
    letter-spacing: -0.3px;
}

#minz-all-camouflage-webpg {
    margin-top: 4px;
}

#minz-all-camouflage-webpg-url {
    width: 270px;
}

#minz-all-camouflage-webpg-url[data-locale="de"] {
    width: 218px;
    margin-right: 4px;
}

#minz-all-camouflage-webpg-url[data-locale|="pt"] {
    width: 262px;
}

#minz-all-camouflage-webpg-url[data-locale="pl"] {
    width: 244px;
}

#minz-all-restore-from-camo-instr {
    margin-top: 6px;
}

#minz-curr-action-opt {
    width: 360px;
    margin-top: 4px;
}

#restore-minzed-wnd-note {
    display: none;
}

#panicbutton-key, #panicbutton-key-modifiers {
    display: none;
}

#panicbutton-key:-moz-focusring,
#panicbutton-key-modifiers:-moz-focusring {
    border-color: var(--color-main-bkgd) !important;
}
    
#extern-keyb-shct {
    display: none;
    vertical-align: middle;
    font-size: 15px;
}

#prefs-customize {
    border-top: none;
    padding-bottom: 20px;
}

#prefpane-customize button,
#prefpane-customize select {
    font-size: 15px;
    height: 28px;
}

#prefpane-customize label {
    font-size: 15px;
}

#prefpane-customize input[type="text"] {
    font-size: 15px;
    height: 28px;
}

#toolbar-button-caption {
    width: 192px;
}

#toolbar-button-icon:-moz-focusring {
    outline-style: none;
    border-color: #0a84ff;
    box-shadow: 0 0 0 2px #61b5ffbf;
    transition-duration: 250ms;
    transition-property: box-shadow;
}

#icon-options {
    align-self: stretch;
    margin-top: 3px;
    max-width: 236px;
}

#custom-icon-upload-cntr {
    height: calc(100% - 30px);
}

#custom-icon-label img {
    max-width: 36px;
    max-height: 36px;
}

input[type="file"] {
    opacity: 0;
    width: 32px;
}

#rev-contrast-icon-cntr {
    margin-left: 24px;
    margin-right: -12px;
}

#rev-contrast-icon {
    margin-left: -20px;
}

#rev-contrast-icon + label {
    font-size: 13px;
}

#shct-note {
    font-size: 13px;
}

#reset-shortcut {
    margin-top: 12px;
}

#about-btn {
    float: right;
    height: unset;
    border: 1px solid var(--color-about-btn-border);
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 400;
    background-color: var(--color-about-btn-bkgd);
    color: var(--color-about-btn);
}

#about-btn:hover {
    border-color: var(--color-btn-hover-border);
    background-color: var(--color-about-btn-bkgd-hover);
}

#about-btn:active {   
    border: 1px solid #b1b1b3;
    background-color: var(--color-about-btn-bkgd-active);
}

.lightbox {
    top: 72px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 8px;
    font-size: 15px;
}

.lightbox .title {
    margin-top: 8px;
    font-size: 17px;
    font-weight: 600;
}

.lightbox label {
    font-size: 15px;
}

.lightbox .body {
    padding-top: 2px;
    padding-bottom: 8px;
    font-size: 13px;
}

.lightbox input[type="password"] {
    width: 100%;
    height: 28px;
    margin-bottom: 10px;
    font-size: 15px;
}

.lightbox .error {
    font-size: 13px;
}

.lightbox > .dlg-btns {
    bottom: 24px;
    right: 14px;
}

.lightbox > .dlg-btns > button {
    min-width: 96px;
    height: 32px;
    margin-bottom: 0;
    padding: 0 24px 0;
    border-radius: 4px;
    font: caption;
    font-size: 15px !important;
}

#set-password-dlg {
    --width: 406px;
    --height: 336px;
}

#set-password-dlg[data-locale="de"] {
    --height: 354px;
}

#change-password-dlg {
    --width: 406px;
    --height: 346px;
}

body[data-os="mac"] #set-password-dlg,
body[data-os="mac"] #change-password-dlg {
    --width: 410px;
}

#set-password-dlg label,
#change-password-dlg label {
    display: block;
    margin-bottom: 4px;
}

#set-password-dlg .row,
#change-password-dlg .row {
    white-space: nowrap;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
}

#remove-password-dlg {
    top: 100px;
    --width: 400px;
    --height: 216px;
}

#remove-password-dlg .msgbox-icon {
    width: 52px;
    height: 52px;
    float: left;
    margin-left: -6px;
    margin-top: 8px;
    background-image: url("../img/question-64.png");
    background-size: contain;
}

body[data-os="win"] #remove-password-dlg .msgbox-icon {
    width: 48px;
    height: 48px;
    background-image: url("../img/confirm-win.png");
}

body[data-os="mac"] #remove-password-dlg .msgbox-icon {
    background-image: url("../img/question-64-mac.png");
}

#remove-password-dlg .dlg-content {
    margin-left: 64px;
}

#remove-password-dlg label {
    display: block;
    margin-bottom: 8px;
}

#remove-password-dlg #pswd-for-removal {
    width: 278px;
}

#about-dlg {
    --width: 410px;
    --height: 284px;
}

body[data-os="mac"] #about-dlg {
    --width: 414px;
}

#about-dlg[data-locale|="pt"],
#about-dlg[data-locale="pl"] {
    height: 298px;
}

#about-dlg #ext-icon {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-right: 12px;
    background-image: url("../img/icon.svg");
    background-size: contain;
}

#about-dlg > .dlg-content label,
#about-dlg > .dlg-content a {
    font-size: 12px;
}

#about-dlg .about-content-row {
    display: block;
}

#about-dlg hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--color-dlg-fieldset-border);
    border-bottom: 1px solid var(--color-dlg-fieldset-border);
    color: #b1b1b3;
}

#about-dlg #ext-info {
    padding-top: 12px;
}

#about-dlg #ext-name {
    font-size: 17px;
    font-weight: 600;
}

#about-dlg #ext-ver {
    font-size: 11px;
    line-height: 1.5;
}

#about-dlg #ext-desc {
    clear: left;
    padding-top: 12px;
    font-size: 13px;
}

#about-dlg #credits label {
    line-height: 18px;
}

#about-dlg #translations-ack[data-locale="de"] {
    letter-spacing: -0.01px;
}

#about-dlg #usr-contrib-cta {
    margin-top: 8px;
}

#about-dlg #usr-contrib-cta[data-locale="de"] {
    letter-spacing: -0.45px;
}

#about-dlg #usr-contrib-cta-hdg {
    font-weight: 600;
}
