/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
    --url-icon-default: url("../img/default32.svg");
    --url-icon-exclamation-in-ball: url("../img/exclamation-in-ball32.svg");
    --url-icon-quit: url("../img/quit32.svg");
    --url-icon-exit-door: url("../img/exit-door32.svg");
    --url-icon-window-minimize: url("../img/window-minimize32.svg");
    --url-icon-window-with-exclamation: url("../img/window-with-exclamation32.svg");
    --url-icon-window-with-exclamation-ball: url("../img/window-with-exclamation-ball32.svg");
    --url-icon-window-with-cross: url("../img/window-with-cross32.svg");
    --url-icon-window-with-check: url("../img/window-with-check32.svg");
    --url-icon-plain-window: url("../img/plain-window32.svg");
    --url-icon-dotted-window: url("../img/dotted-window32.svg");
    --url-icon-window-with-globe: url("../img/window-with-globe32.svg");
    --url-icon-web-page: url("../img/web-page32.svg");
    --url-icon-web-page-with-globe: url("../img/web-page-with-globe32.svg");
    --url-icon-web-document: url("../img/web-document32.svg");
    --url-icon-smiley: url("../img/smiley32.svg");
    --url-icon-picture: url("../img/picture32.svg");
    --url-icon-desktop: url("../img/desktop32.svg");
    --url-icon-computer: url("../img/computer32.svg");
    --url-icon-letter-a: url("../img/letter-a32.svg");

    --url-icon-default-dk: url("../img/default32_reverse.svg");
    --url-icon-exclamation-in-ball-dk: url("../img/exclamation-in-ball32_reverse.svg");
    --url-icon-quit-dk: url("../img/quit16_reverse.svg");
    --url-icon-exit-door-dk: url("../img/exit-door16_reverse.svg");
    --url-icon-window-minimize-dk: url("../img/window-minimize32_reverse.svg");
    --url-icon-window-with-exclamation-dk: url("../img/window-with-exclamation32_reverse.svg");
    --url-icon-window-with-exclamation-ball-dk: url("../img/window-with-exclamation-ball32_reverse.svg");
    --url-icon-window-with-cross-dk: url("../img/window-with-cross32_reverse.svg");
    --url-icon-window-with-check-dk: url("../img/window-with-check32_reverse.svg");
    --url-icon-plain-window-dk: url("../img/plain-window32_reverse.svg");
    --url-icon-dotted-window-dk: url("../img/dotted-window32_reverse.svg");
    --url-icon-window-with-globe-dk: url("../img/window-with-globe32_reverse.svg");
    --url-icon-web-page-dk: url("../img/web-page32_reverse.svg");
    --url-icon-web-page-with-globe-dk: url("../img/web-page-with-globe32_reverse.svg");
    --url-icon-web-document-dk: url("../img/web-document32_reverse.svg");
    --url-icon-smiley-dk: url("../img/smiley32_reverse.svg");
    --url-icon-picture-dk: url("../img/picture16_reverse.svg");
    --url-icon-desktop-dk: url("../img/desktop32_reverse.svg");
    --url-icon-computer-dk: url("../img/computer16_reverse.svg");
    --url-icon-letter-a-dk: url("../img/letter-a32_reverse.svg");
}

#toolbar-button-icon {
    width: 354px;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 12px;
    border: 1px solid #b1b1b1;
    background-color: #fefefe;
    line-height: 0.80;
}

#toolbar-button-icon[colorscheme="dark"] {
    border: 1px solid #737373;
    background-color: #202023;
}

#toolbar-button-icon input[type="radio"] {
    display: none;
}

#toolbar-button-icon label {
    margin-right: -3px;
}

#toolbar-button-icon label > img,
#toolbar-button-icon label > canvas {
    padding: 0;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
}

#toolbar-button-icon input[type="radio"]:checked + label img,
#toolbar-button-icon input[type="radio"]:checked + label canvas {
    background-color: highlight;
}

#toolbar-button-icon > #default + label > canvas {
    background-image: var(--url-icon-default);
}

#toolbar-button-icon[colorscheme="dark"] > #default + label > canvas {
    background-image: var(--url-icon-default-dk);
}

#toolbar-button-icon > #exclamation-in-ball + label > canvas {
    background-image: var(--url-icon-exclamation-in-ball);
}

#toolbar-button-icon[colorscheme="dark"] > #exclamation-in-ball + label > canvas {
    background-image: var(--url-icon-exclamation-in-ball-dk);
}

#toolbar-button-icon > #quit + label > canvas {
    background-image: var(--url-icon-quit);
}

#toolbar-button-icon[colorscheme="dark"] > #quit + label > canvas {
    background-image: var(--url-icon-quit-dk);
}

#toolbar-button-icon > #exit-door + label > canvas {
    background-image: var(--url-icon-exit-door);
}

#toolbar-button-icon[colorscheme="dark"] > #exit-door + label > canvas {
    background-image: var(--url-icon-exit-door-dk);
}

#toolbar-button-icon > #window-minimize + label > canvas {
    background-image: var(--url-icon-window-minimize);
}

#toolbar-button-icon[colorscheme="dark"] > #window-minimize + label > canvas {
    background-image: var(--url-icon-window-minimize-dk);
}

#toolbar-button-icon > #window-with-exclamation + label > canvas {
    background-image: var(--url-icon-window-with-exclamation);
}

#toolbar-button-icon[colorscheme="dark"] > #window-with-exclamation + label > canvas {
    background-image: var(--url-icon-window-with-exclamation-dk);
}

#toolbar-button-icon > #window-with-exclamation-ball + label > canvas {
    background-image: var(--url-icon-window-with-exclamation-ball);
}

#toolbar-button-icon[colorscheme="dark"] > #window-with-exclamation-ball + label > canvas {
    background-image: var(--url-icon-window-with-exclamation-ball-dk);
}

#toolbar-button-icon > #window-with-cross + label > canvas {
    background-image: var(--url-icon-window-with-cross);
}

#toolbar-button-icon[colorscheme="dark"] > #window-with-cross + label > canvas {
    background-image: var(--url-icon-window-with-cross-dk);
}

#toolbar-button-icon > #window-with-check + label > canvas {
    background-image: var(--url-icon-window-with-check);
}

#toolbar-button-icon[colorscheme="dark"] > #window-with-check + label > canvas {
    background-image: var(--url-icon-window-with-check-dk);
}

#toolbar-button-icon > #plain-window + label > canvas {
    background-image: var(--url-icon-plain-window);
}

#toolbar-button-icon[colorscheme="dark"] > #plain-window + label > canvas {
    background-image: var(--url-icon-plain-window-dk);
}

#toolbar-button-icon > #dotted-window + label > canvas {
    background-image: var(--url-icon-dotted-window);
}

#toolbar-button-icon[colorscheme="dark"] > #dotted-window + label > canvas {
    background-image: var(--url-icon-dotted-window-dk);
}

#toolbar-button-icon > #window-with-globe + label > canvas {
    background-image: var(--url-icon-window-with-globe);
}

#toolbar-button-icon[colorscheme="dark"] > #window-with-globe + label > canvas {
    background-image: var(--url-icon-window-with-globe-dk);
}

#toolbar-button-icon > #web-page + label > canvas {
    background-image: var(--url-icon-web-page);
}

#toolbar-button-icon[colorscheme="dark"] > #web-page + label > canvas {
    background-image: var(--url-icon-web-page-dk);
}

#toolbar-button-icon > #web-page-with-globe + label > canvas {
    background-image: var(--url-icon-web-page-with-globe);
}

#toolbar-button-icon[colorscheme="dark"] > #web-page-with-globe + label > canvas {
    background-image: var(--url-icon-web-page-with-globe-dk);
}

#toolbar-button-icon > #web-document + label > canvas {
    background-image: var(--url-icon-web-document);
}

#toolbar-button-icon[colorscheme="dark"] > #web-document + label > canvas {
    background-image: var(--url-icon-web-document-dk);
}

#toolbar-button-icon > #smiley + label > canvas {
    background-image: var(--url-icon-smiley);
}

#toolbar-button-icon[colorscheme="dark"] > #smiley + label > canvas {
    background-image: var(--url-icon-smiley-dk);
}

#toolbar-button-icon > #picture + label > canvas {
    background-image: var(--url-icon-picture);
}

#toolbar-button-icon[colorscheme="dark"] > #picture + label > canvas {
    background-image: var(--url-icon-picture-dk);
}

#toolbar-button-icon > #desktop + label > canvas {
    background-image: var(--url-icon-desktop);
}

#toolbar-button-icon[colorscheme="dark"] > #desktop + label > canvas {
    background-image: var(--url-icon-desktop-dk);
}

#toolbar-button-icon > #computer + label > canvas {
    background-image: var(--url-icon-computer);
}

#toolbar-button-icon[colorscheme="dark"] > #computer + label > canvas {
    background-image: var(--url-icon-computer-dk);
}

#toolbar-button-icon > #letter-a + label > canvas {
    background-image: var(--url-icon-letter-a);
}

#toolbar-button-icon[colorscheme="dark"] > #letter-a + label > canvas {
    background-image: var(--url-icon-letter-a-dk);
}
